*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;

}

body{
}

.bar{
    height: 90px;
    width: 100%;
    background-color: #ccc;
}
.reveal{
    background-color: pink;
    position: fixed;
    top: 0;
}

.card{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    background-color: #EEEEEE;
    margin-bottom: 32px;
    filter: blur(10px);
    transition: 1s all ease;
    margin-left: 32px;
    margin-top: 32px;
}

.card .top{
    display: flex;
    align-items: flex-start;
    color: red;
    font-size: 20px;
    
}
.card .bottom{
    display: flex;
    align-items: flex-start;
    color: red;
    font-size: 20px;

}
.card .main{
    border-radius: 15px;
    border: 2px solid red;
    height: 80%;
}

.show{
    filter: blur(0);
}