*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;

}

.card{
    height: 300px;
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    background-color: #EEEEEE;

}

.card .top{
    display: flex;
    align-items: flex-start;
    color: red;
    
}
.card .bottom{
    display: flex;
    align-items: flex-end;
    color: red;
    margin-bottom: 32px;
}
.card .main{
    border-radius: 15px;
    border: 2px solid red;
  
    height: 100%;
}